<div id="session-browser-container">
    <h1 id="session-counter"></h1>
    <div id="session-list"></div>
    <div id="error-modal" class="modal hidden">
        <div class="modal-content">
            <p class="error-message">Name is already taken (in room)</p>
            <!-- fancy way of writing an x -->
            <button id="close-btn">&times;</button>
        </div>
    </div>
    <div id="browser-controls-container">
        <button id="create-session-btn">Create</button>
        <button class="back-btn">Back</button>
    </div>
    <h2>Join or create a session</h2>
</div>