<div id="singleplayer-lobby">
    <h2>Singleplayer Lobby</h2>

    <label for="difficulty-select">Select Difficulty:</label>
    <select id="difficulty-select">
        <option value="1" selected>1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>

    <label for="opponent-count-select">Number of Opponents:</label>
    <select id="opponent-count-select">
        <option value="1">1 Opponent</option>
        <option value="2">2 Opponents</option>
        <option value="3">3 Opponents</option>
    </select>

    <br>
    <br>
    <button id="start-singleplayer">Start Game</button>
    <br>
    <button class="back-btn">Back</button>
    <br>

    <label for="human-speed-select">Your Speed:</label>
    <select id="human-speed-select">
        <option value="slow">Slow</option>
        <option value="normal" selected>Normal</option>
        <option value="fast">Fast</option>
        <option value="very fast">Very Fast</option>
    </select>
    <br><br>
    
    <label for="human-color-select">Your Color:</label>
    <select id="human-color-select">
        <option value="red" selected>Red</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="yellow">Yellow</option>
    </select>
    <br><br>

    <div id="ai-config-container"></div>
</div>