<div id="tutorial-container">
    <h5>How to Play</h5>
        <p>1. Create & Join: A host creates a room, and players join it in the multiplayer browser.</p>
        <p>2. Move: Use your mouse to control your sumo wrestler's direction. The wrestler will automatically follow
            your cursor.</p>
        <p>3. Charge & Push: Hold down the space bar to charge power (maximum 2 seconds). Release it to perform a quick
            forward dash, primarily used to push opponents out of the ring or stop momentum.</p>
        <p>4. Points: Earn points by being the last person to touch whoever is pushed out, or by surviving till the end.
        </p>
        <p>5. Win: The goal is to earn the most points and be the last man standing.</p>
    <button class="back-btn">Go back</button>
</div>